@model EditViewModel
@{
    ViewBag.Title = "Publish Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit and publish page "@Model.Title"</h1>
@using (Html.BeginForm("Submissions", "Publish", FormMethod.Post, new { @class = "pageForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Title)
    <p>This site uses textile markup, for documentation visit <a href="https://txstyle.org/">txstyle.org</a>.</p>
    @Html.TextAreaFor(m => m.Content, new { @class = "editPageText" })
    <div class="validationMessages">
        @Html.ValidationMessageFor(m => m.Content)
    </div>
    <br />
    <input type="submit" name="submitButton" value="Publish" />
}
