@model EditViewModel
@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit and publish page "@Model.Title"</h1>
@using (Html.BeginForm("Submissions", "Publish", FormMethod.Post, new { @class = "pageForm" }))
{
    @Html.AntiForgeryToken()
    <p>This site uses textile markup, for documentation visit <a href="https://txstyle.org/">txstyle.org</a>.</p>
    @Html.TextAreaFor(m => m.Content, new { @class = "editPageText" })
    @Html.ValidationMessageFor(m => m.Content)
    <br />
    <input type="submit" name="submitButton" value="Submit" />
    if (this.User.IsInRole("Editor") || this.User.IsInRole("Admin"))
    {
        @Html.CheckBoxFor(m => m.Publish)
    }
}