<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOTN speedrunning wiki</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="mainwrap">
        <nav class="aside">
            <div>
                <a class="logo" href="/" title="Visit the main page"></a>
            </div>
            <ul>
                <li>
                    @Html.ActionLink("Main Page", "Index", "Home")
                </li>
                <li>
                    <span class="expand retracted">Alucard</span>
                    <ul class="dropdown">
                        <li>
                            @Html.ActionLink("Main", "Page", "Home", new { name = "Alucard" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Any%", "Page", "Home", new { name = "Alucard_Any%" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("All Bosses", "Page", "Home", new { name = "Alucard_All_Bosses" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Glitchless", "Page", "Home", new { name = "Alucard_Glitchless" }, null)
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="expand retracted">Richter</span>
                    <ul class="dropdown">
                        <li>
                            @Html.ActionLink("Main", "Page", "Home", new { name = "Richter" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Any%", "Page", "Home", new { name = "Richter_Any%" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("All Bosses", "Page", "Home", new { name = "Richter_All_Bosses" }, null)
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="expand retracted">Maria</span>
                    <ul class="dropdown">
                        <li>
                            @Html.ActionLink("Main", "Page", "Home", new { name = "Maria" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Any%", "Page", "Home", new { name = "Maria_Any%" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("All Bosses", "Page", "Home", new { name = "Maria_All_Bosses" }, null)
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="expand retracted">Leaderboards</span>
                    <ul class="dropdown">
                        <li>
                            <a href="https://www.speedrun.com/sotn">speedrun.com/sotn</a>
                        </li>
                        <li>
                            @Html.ActionLink("Daily Backup", "Current", "Leaderboards")
                        </li>
                        <li>
                            @Html.ActionLink("CvS Archive", "CvSpeedrunsArchive", "Leaderboards")
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="search-panel">
                @using (Html.BeginForm("Search", "Search", "GET"))
                {
                    @Html.TextBox("searchPhrase")
                    <input type="submit" value="" />
                }
            </div>
        </nav>
        <main>
            <nav class="auth">
                @Html.Partial("_LoginPartial")
            </nav>
            <div id="content">
                @RenderBody()
            </div>
            @Html.Partial("_EditorPanelPartial")
            <footer>
                Course project of Talic_Zealot for Telerik Academy Season 7
            </footer>
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
