@model EditViewModel
@{
    ViewBag.Title = "Edit" + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit "@Model.Title"</h1>
@using (Html.BeginForm("Edit", "Edit", FormMethod.Post, new { @class = "pageForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Title)
    <p>This site uses textile markup, for documentation visit <a href="https://txstyle.org/">txstyle.org</a>.</p>
    @Html.TextAreaFor(m => m.Content, new { @class = "editPageText" })
    <div class="validationMessages">
        @Html.ValidationMessageFor(m => m.Content)
    </div>
    <br />
    if (this.User.IsInRole("Editor") || this.User.IsInRole("Admin"))
    {
        @Html.LabelFor(m => m.Publish)
        @Html.CheckBoxFor(m => m.Publish)
    }
    <input type="submit" name="submitButton" value="Submit" />
}
