@model SotnWiki.MvcClient.Models.NewPageViewModel
@{
    ViewBag.Title = "New Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Page</h1>
@using (Html.BeginForm("NewPage", "Edit", "POST"))
{
    @Html.AntiForgeryToken()
    @Html.DropDownListFor(m => m.Character, new SelectList(Enum.GetValues(typeof(SotnWiki.Models.CharacterIdEnum))), "Select section")
    @Html.ValidationMessageFor(m => m.Character)
    @Html.DropDownListFor(m => m.Type, new SelectList(new string[] {"Category", "Glitch", "General"}), "Select type")
    @Html.ValidationMessageFor(m => m.Type)
    <br/>
    <span>Title:</span>
    @Html.TextBoxFor(m => m.Title)
    @Html.ValidationMessageFor(m => m.Title)
    <p>This site uses textile markup, for documentation visit <a href="https://txstyle.org/">txstyle.org</a>.</p>
    @Html.TextAreaFor(m => m.Content)
    @Html.ValidationMessageFor(m => m.Content)
    <br/>
    <input type="submit" name="submitButton" value="Submit" />
    if (this.User.IsInRole("Editor") || this.User.IsInRole("Admin"))
    {
        @Html.CheckBoxFor(m => m.Publish)
    }
}